<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg2"></div>

        <div class="col-lg8 my-3">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">Seu contatos est達o logo abaixo</p>

          <%-  include('includes/messages') %>

          <div class="responsive-table">
            <table class="table my-3">
              <tr>
                <td>Leo</td>
                <td>Leit達o</td>
                <td>23472837482</td>
                <td>leoleitao27@gmail.com</td>
              </tr>

              <tr>
                <td>Leo</td>
                <td>Leit達o</td>
                <td>23472837482</td>
                <td>leoleitao27@gmail.com</td>
              </tr>

              <tr>
                <td>Leo</td>
                <td>Leit達o</td>
                <td>23472837482</td>
                <td>leoleitao27@gmail.com</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="col-lg2"></div>
      </div>
    </div>

<%- include('includes/footer') %> 